.login-container {
    /* margin-top: 20%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 100%;
}

.login-brand {
    width: 390px;
    margin-left: 10%;
    margin-top: 10%;
}

.username {
    width: 100%;
    margin-left: 6%;
}

.password {
    width: 100%;
    margin-left: 6%;
}

.login-btn {
    width: 100%;
    padding: 0%;
}

.login-input-container {
    max-width: 350px;
    margin-top: 80px;
}

.welcome-msg {
    color: #04101a;
    font-size: 35px;
    /* margin-left: 10%; */
    margin-top: 18px;
}

.app-title {
    color: #04101a;
    font-size: 49px;
    font-weight: bold;
    /* margin-left: 10%; */
}