<!-- <app-loading-mask *ngIf="loadingMask"></app-loading-mask> -->

<div class="login-container">

    <div class="row">
        <div class="col-6">
            <img class="login-brand" style="margin-left: 18%;margin-top: 10%;" src="/assets/images/agro-cropes.png">
        </div>

        <div class="col-6">

            <div class="login-container">
                <form (ngSubmit)="login()">
                    <div class="row">

                        <div class="form-group" class="col-10">
                            <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="E-mail" style="margin-top: -30px;margin-bottom: 5%;" required>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="form-group" class="col-10">
                            <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" style="margin-top: -30px;margin-bottom: 5%;" required>
                        </div>
                        <br>
                        <br>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <br>
                            <button type="submit" class="btn btn-primary login-btn" style="margin-top: -50px;">Login</button>
                        </div>
                        <div class="col-3">
                            <div class="register"><a href="#" routerLink="/register">New User Register</a></div>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <p *ngIf="errorMsg.length > 0" class="text-danger">{{errorMsg}}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <div class="col-12">
                <div class="welcome-msg">Welcome to</div>
            </div>
        </div>
        <div class="col-8"></div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="col-12">
                <br>
                <span class="app-title">Agro Cropes Sales System</span>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>